@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
}


.m-10{
    margin: 10px;
}

.m-15{
    margin: 15px;
}

.d-flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2em;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-items {
    justify-content: space-between;
}

.nav-link {
    list-style: none;
    padding: 12px 8px;
}

.nav-link:last-child {
    padding-right: 0;
}

.nav-link a {
    text-decoration: none;
    color: black;
}

.nav-link button {
    padding: 4px 9px;
    border: 1px solid rgba(131, 131, 131, 0.5);
    background: rgba(131, 131, 144, 0.2);
    border-radius: 5px;
}


.container{
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 10px;
}


input{
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 5px;
    border-color: rgba(131, 131, 131, 0.2);
}

.form-text{
    font-size: 15px;
}

.btn{
    height: 34px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);

}

.btn:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.9);
    transition: 0.5s;
}

.register{
    width: 200px;
    height: 40px;
    text-align: center;
    transition: 0.5s;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.1);
}

.register:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.9);
}

.form-control{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.register{
    text-decoration: none;
    color: black;
}